@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1D2125;

}
.container{
  opacity: 0;
  text-align: center;
  animation: pop 0.5s ease forwards;
  animation-delay: 0.5s;
}
.main{
  font-family: 'Lato';
  width: 100%;
}

h1,p {
  color: white;
}

select {
  padding: 8px;
  background-color: #141414;
  color: white;
  border: 1px solid #2E5596;
  border-radius: 4px;
  margin-bottom: 10px;
}

select:hover {
  background-color: #2E5596;
}

select:focus {
  outline: none;
}


table {
  background-color: #141414;
  color:white;
  width: 100%;
  border-collapse: collapse;
}

.head{
  color: #647696;
  text-align: center;
}

th, td {
  padding: 15px 30px; 
  text-align: right;
}

button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.positive {
  color: #0FAEA3;
}

.negative {
  color: #E77054;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(251, 253, 255);
  border-bottom-right-radius: 1%;
  border-bottom-left-radius: 1%;
  color: #141414 !important;
  animation: slideDown 0.5s ease forwards;
  transform: translateY(-100%);
}

.logo {
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile {
  border-radius: 50%;
  margin-right: 10px;
}

.signout {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signout:hover {
  background-color: #ff7875;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    transform: scale(1);
    opacity: 1; 
  }
}
